.divider {
  border: none;
  height: 1px;
  color: #d6d6dc; /* old IE */
  background-color: #d6d6dc; /* Modern Browsers */
  margin: 0;
}

.section-wrapper {
  &-title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 500;
    color: white;
  }
  &-title-wrapper {
    vertical-align: bottom;
    height: 30px;
    line-height: 30px;
  }
  &-title-more {
    float: right;
    display: block;
    color: white;
    font-size: 16px;
    font-style: italic;
  }
  &-divider {
    @extend .divider;
    margin-top: 8px;
  }
  &-contents {
    position: relative;
    margin-top: 12px;
    background-color: #fff;
    border-radius: 3px;
  }
}

.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: blur(20px) grayscale(60%);
}
.loading-icon {
  margin: 0 auto;
  display: inline;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
