.divider {
  border: none;
  height: 1px;
  color: #d6d6dc; /* old IE */
  background-color: #d6d6dc; /* Modern Browsers */
  margin: 0;
}

.section-wrapper {
  &-title {
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 500;
    color: white;
  }
  &-title-wrapper {
    vertical-align: bottom;
    height: 30px;
    line-height: 30px;
  }
  &-title-more {
    float: right;
    display: block;
    color: white;
    font-size: 16px;
    font-style: italic;
  }
  &-divider {
    @extend .divider;
    margin-top: 8px;
  }
  &-contents {
    margin-top: 12px;
    background-color: #fff;
    border-radius: 3px;
  }
}

