.winning-chart {
  font-size: 8px;
  //line-height: initial;
  &-win {
    display: inline-block;
    text-align: left;
    background-color: #5fc041;
    >span { margin-left: 10px; }
  }
  &-lose {
    display: inline-block;
    text-align: right;
    background-color: #c04241;
    >span { margin-right: 10px; }
  }
}
