@import "base/reset";
@import "base/variables";
@import "base/default";
@import "base/grid";

@import "utils/utils";
@import "components/hr";
@import "components/card";
@import "components/button";
@import "components/slider";
@import "components/nav";

.feed {
  &-addit-has-saved {
    margin-top: 20px;
    text-align: center;
  }
  &-emphasize-addit {
    font-size: 18px;
    font-weight: 800;
    color: $red;
  }
  &-invitation-addit {
    font-weight: 600;
  }
  .slick-dots {
    bottom: 0px;
  }
}
